---
layout: default
page: form
---
<div class="formblock">
	{% for form in site.data.grantseeker %}
	{% assign loopindex = forloop.index0%}    

	<section class="page {% if loopindex == 0 %}show{% endif %} col col--xs-12 col--sm-12 col--md-8 col--lg-8 col--md-offset-2 col--lg-offset-2" id="{{form.grantinfo}}">
		<div class="pages">
		{% if forloop.index > 1 %}<button class="turn prev">Prev</button>{% endif %}
		{% if forloop.index < forloop.length %}<button class="turn next">Next</button>{% endif %}
		</div>
		{% if form.desc %}
		<section class="block">
			<div class="form-desc col col--xs-12 col--sm-12 col--md-12 col--lg-12">
				{{form.desc}}
			</div>
		</section>
		{% endif %}
		
		{% if forloop.first %}
		<section class="block" id="template">
			<div class="form col col--xs-12 col--sm-12 col--md-12 col--lg-12">
				<h3>Load from template?</h3>
				<p>Note: Any changes you have made will not bechanged by the template.</p>
				<select id="templateselect">
					<option>Loading templates...</option>
				</select>
			</div>
		</section>
		{% endif %}
		
		<div class="title"><h2>{{ form.name }}</h2></div>
		{% for section in form.sections %}
		<section class="block" id="{{section.name}}">
			<h3>{{section.header}}</h3>
			<form class="form">
				{% for question in section.questions %}
				<div class="question {% if question.required %}required{% endif%}">
				<label>{{question.label}}</label>
				{% if question.type == "dropdown" %}
					<select id="{{question.dbfield}}" class="live">
						{% for option in question.content %}
							<option data_id="{{option.label}}">{{option.label}}</option>
						{% endfor %}
					</select>
				{% elsif question.type == "text" %}
					<input class="live" type="text" id="{{question.dbfield}}" />
				{% elsif question.type == "number" %}
					<input class="live" type="number" min="0.0" step="0.01" id="{{question.dbfield}}" />
				{% elsif question.type == "money" %}
					<div class="money"><input class="live" type="number" min="0.0" step="0.01" id="{{question.dbfield}}" /></div>
				{% elsif question.type == "percentage" %}
					<div class="percentage"><input class="live" type="number" min="0.0" max="100.0" step="0.1" id="{{question.dbfield}}" /></div>
				{% elsif question.type == "radio" %}
				<div class="radio">
					{% for option in question.content %}
					<p>
						<input class="live" type="radio" id="{{question.dbfield}}-{{option.label}}"
						name="{{question.dbfield}}" value="{{option.label}}" />
						<label for="{{question.dbfield}}-{{option.label}}">{{option.label}}</label>
					</p>
					{% endfor %}
				</div>
				{% elsif question.type == "peoplelist" %}
					<div class="peoplelist" id="{{question.dbfield}}">
						<div class="header">
							<div>Contributor</div>
							<div>Hours</div>
						</div>
						<div class="bod">

						</div>
						<a class="button people-button" id="{{question.dbfield}}">Add contributor</a>
						</div>
				{% else %}

				{% endif %}
				{% if question.desc %}
					<div class="tag" data-tooltip="{{question.desc}}">
						<img src="{{ "/img/tooltip.png" | prepend: site.baseurl | prepend: site.url }}"  />
					</div>
				{% endif %}
				</div>
				{% endfor %}
			</form>

		</section>
		{% endfor %}
		<div class="pages">
		{% if forloop.index > 1 %}<button class="turn prev">Prev</button>{% endif %}
		{% if forloop.index < forloop.length %}<button class="turn next">Next</button>{% endif %}
		</div>

		{% if forloop.last %}<button class="local bottomgrant" href="{{ "/result" | prepend: site.baseurl | prepend: site.url }}">Grant Result</button>{% endif %}

		<div class="del col col--xs-12 col--sm-12 col--md-8 col--lg-8 col--md-offset-2 col--lg-offset-2"">
		<a href="#" class="delete">Delete Grant?</a>
		</div>
	</section>
	{% endfor %}
</div>
<div style="display:none" id="ppllistTemplate">
	<div class="time" db_id="<%= id %>" obj_id="<%= id %>">
		<select id="<%= dbid %>" class="live ppl objlist">
			<option>Loading contributors...</option>
		</select>
		<input class="live ppl hours" type="number" min="0.0" step="0.1" id="<%= dbid %>" value="0" />
		<a class="ppllistdel">x</a>
	</div>
</div>