---
layout: default
---
<div id="objectlist">
	<a class="new">Add new person</a>

</div>

<script type="text/template" id="objectTemplate">
	<div>
	<div class="object-container">
		<form>
			<label>Name</label>
			<input data_id="name" value="<%= name %>" />
			<label>Role</label>
			<select data_id="role" class="role">
				<option>Loading Roles...</option>
			</select>
			<label>Salary</label>
			<div class="money">
				<input data_id="salary" type="number" min="0.0" step="0.01" value="<%= salary %>" />
			</div>
			<a class="submit button">Submit</a>
		</form>
	</div>
	</div>
</script>