<header class="site-header">
	<div class="container">
	  <div class="row">
	    <div class="logo col col--xs-2 col--sm-2 col--md-2 col--lg-2">
	      <a href="{{ "/list" | prepend: site.baseurl | prepend: site.url }}">
	        <img src="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}" />
	        <small>Beta</small>
	      </a>
	    </div>
	    <div class="nav-links col col--xs-0 col--sm-0 col--md-7 col--lg-7  mobile-hide">
	    	<ul class="left">
		    	{% if page.name == "people.html"
		    	or page.url == "/form.html" 
		    	or page.url == "/result.html"
		    	or page.url == "/gmaker.html"
		    	or page.url == "/makerresult.html"  %}
	    		<li><a href="{{ "/list" | prepend: site.baseurl | prepend: site.url }}">Grants</a></li>
	    		<li><a href="{{ "/people" | prepend: site.baseurl | prepend: site.url }}">Team</a></li>
	    		<li><a href="{{ "/logout" | prepend: site.baseurl | prepend: site.url }}">Logout</a></li>
	    		{% endif %}
	    		<li><a class="button" href="https://goo.gl/forms/qkGEc8joAGwtzgt53" target="_blank">Leave Feedback!</a></li>
	    	</ul>
	    </div>
	    {% if page.url == "/form.html" 
	    	or page.url == "/result.html"
	    	or page.url == "/gmaker.html"
	    	or page.url == "/makerresult.html" %}
	    <div class="nav-links col col--xs-10 col--sm-10 col--md-3 col--lg-3">
	    	<ul>
	    		{% if page.url == "/result.html" %}
	    		<li><a class="local button" href="{{ "/form" | prepend: site.baseurl | prepend: site.url }}">Edit Grant</a></li>
	    		{% elsif page.url == "/makerresult.html" %}
	    		<li><a class="local button" href="{{ "/gmaker" | prepend: site.baseurl | prepend: site.url }}">Edit Program</a></li>
	    		{% elsif page.url == "/gmaker.html" %}
	    		<li><a class="local button" href="{{ "/makerresult" | prepend: site.baseurl | prepend: site.url }}">Show Program Result</a></li>
	    		{% else %}
	    		<li><a class="local button" href="{{ "/result" | prepend: site.baseurl | prepend: site.url }}">Show Grant Result</a></li>
	    		{% endif %}
	    	</ul>
	    </div>
	    {% endif %}
	</div>
  </div>
</header>