<header class="site-header">
	<div class="container">
	  <div class="row">
	    <div class="logo col col--xs-5 col--sm-5 col--md-5 col--lg-5">
	      <a href="{{ "list" | prepend: site.baseurl | prepend: site.url }}">
	        <img src="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}" />
	      </a>
	    </div>
	    <div class="nav-links">
	    	<ul>	
	    		<li><a href="{{ "/list" | prepend: site.baseurl | prepend: site.url }}">List of Grants</a></li>
	    		<li><a href="{{ "/people" | prepend: site.baseurl | prepend: site.url }}">Your Team</a></li>
	    		<li><a class="local" href="{{ "/result" | prepend: site.baseurl | prepend: site.url }}">This Result</a></li>
	    	</ul>
	    </div>
	</div>
  </div>
</header>