<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="form-content">
      <div class="container">
        <div class="row">
          <div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% assign post_count = site.posts | size %}
    {% if post_count >= 1 %}
      <div class="blog container">
        <div class="title">
          <span>Reports</span>
        </div>
        {% include blog.html %}
      </div>
    {% endif %}

    {% include footer.html %}
  </body>
</html>
