<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="fullbg yellow">
      <div class="logo-block">
     <img class="logo" src="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
     </div>
     <div class="description">
        <h2>Find the True Value of your Grant Application</h2>
        <p>The Net Grant Calculator helps both not-for-profits and grantmakers evaluate the net value a grant will provide. For not-for-profits, the calculator provides a tool to help decide which grants to pursue.</p>
        <p>For grantmakers, the calculator helps understand the impact on grantees of application and management processes and helps identify ways to increase their grants' net value to grantees.</p>
      </div>

      <div class="login" id="form">
        <form>
        <label>Your Email</label>
        <input type="text" id="username">
        <label>Your password</label>
        <input type="password" id="password">
        <label>Your EIN (optional)</label>
        <input type="text" id="ein">
        <button class="submit">Register/Login</button>
      </form>
      </div>
    <div class="description">
      <h2>Grant Calculator is supported by</h2>
      <img class="support" src="{{ "/img/peak_logo.png" | prepend: site.baseurl | prepend: site.url }}">
      <img class="support"  src="{{ "/img/newamerica_logo.png" | prepend: site.baseurl | prepend: site.url }}">
      <img class="support"  src="{{ "/img/mulligan_logo.png" | prepend: site.baseurl | prepend: site.url }}">
    </div>


     <div class="blog">
      {% assign post_count = site.posts | size %}
      {% if post_count >= 1 %}
      <div class="blog container">
        {% include blog.html %}
      </div>
      {% endif %} 
      </div>
   </div>

  </body>

</html>
