<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class="landing">
		<div class="landing-background"></div>
		<div class="landing-cover"></div>
		<div class="landing-links">
			<ul>
				<li><a href="{{ "/about" | prepend: site.baseurl | prepend: site.url }}" >About</a></li>
				<li><a href="{{ "/contact" | prepend: site.baseurl | prepend: site.url }}">Contact Us</a></li>
			</ul>
		</div>
		<div class="landing-wrapper">
			<div class="left col col--xs-12 col--sm-12 col--md-8 col--lg-8">
				<div class="logo-block">
					<img class="logo" src="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
					<small style="font-size: 14pt; display: inline-block;">Beta</small>
				</div>
				<div class="marketing">
					<div class="features">
						<div class="intro col col--xs-24 col--sm-24 col--md-12 col--lg-12">
							<h2>What is the "net grant?"</h2>
							<p>Net Grant = Total Grant Amount MINUS the time and resources expended to seek and implement the grant.
							</p>
							<div class="equation">
								<img src="{{ "/img/net-grant-equation.png" | prepend: site.baseurl | prepend: site.url }}">
							</div>
							<p>This tool will help grantmakers and grantseekers calculate and better understand the true cost to your organizations – and to the sector as whole – of making and seeking grants.
							</p>
						</div>
					</div>
					<div class="features">
						<div class="gseek col col--xs-24 col--sm-24 col--md-12 col--lg-12">
							<h2 id="grantseekers">Grantseekers</h2>
							<h3>Decide which grants to pursue</h3>
							<p>You can use the tool to help you calculate – and understand – your return on investment for grantseeking activities and ensure that you’re spending time on what’s most important. The Net Grant Calculator can help you decide which grants to pursue and help you prioritize those grants with the highest net grant value to your organization.
							</p>
							<div class="feature col col--xs-12 col--sm-12 col--md-6 col--lg-6">
								<div class="logo">
									<img src="{{ "/img/data.png" | prepend: site.baseurl | prepend: site.url }}">
								</div>
								<h1>Data-Driven Grants</h1>
								<p>Use data about specific grant opportunities to make informed decisions.</p>
							</div>
							<div class="feature col col--xs-12 col--sm-12 col--md-6 col--lg-6">
								<div class="logo">
									<img src="{{ "/img/refl.png" | prepend: site.baseurl | prepend: site.url }}">
								</div>
								<h1>Reflect and Learn</h1>
								<p>Analysis that matches your organization's grant management processes.</p>
							</div>
						</div>
						<div class="gmake col col--xs-24 col--sm-24 col--md-12 col--lg-12">
							<h2 id="grantmakers">Grantmakers</h2>
							<h3>Know the cost of your grant programs</h3>
							<p>You want to ensure that the cost to run each of your programs does not eat away at the benefit it offers, and that you are spending time and money on the right parts of the grantmaking process. The Net Grant Calculator helps you map your grantmaking process and understand how much it costs to run each of your grant programs and the amount of time and resources expended by potential grantees to apply.
							</p>
						</div>
						<div class="features">
							<div class="feature col col--xs-12 col--sm-12 col--md-6 col--lg-6">
								<div class="logo">
									<img src="{{ "/img/flex.png" | prepend: site.baseurl | prepend: site.url }}">
								</div>
								<h1>Flexible Analysis</h1>
								<p>Evaluate and improve grant practices to increase grant efficiency.</p>
							</div>
							<div class="feature col col--xs-12 col--sm-12 col--md-6 col--lg-6">
								<div class="logo">
									<img src="{{ "/img/lock.png" | prepend: site.baseurl | prepend: site.url }}">
								</div>
								<h1>Simple Security</h1>
								<p>Securely Store information about grant programs to ensure privacy.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class= "login-layer col col--xs-12 col--sm-12 col--md-4 col--lg-4">
				<div class="login" id="form">
					<div class="login-toggle">
						<div id="registertab" class="reg active">Register</div>
						<div id="logintab" class="log">Login</div>
					</div>
					<form class="register active">
						<label>Email</label>
						<input type="text" id="username">
						<label>Password</label>
						<input type="password" id="password">
						<div id="consent" class="checkbox">
							<input type="checkbox" id="conscheck">
							<span>I agree that my data can be used for research.</span>
						</div>
						<div id="forgot">
							<a href="forgot">Forgot your password?</a>
						</div>
						<button class="submit" id="loginreg" disabled>Register</button>
					</form>
				</div>
				<div class="description">
					<h2>Net Grant Calculator is supported by</h2>
					<img class="support" alt="Peak Grantmaking" src="{{ "/img/peak_logo.png" | prepend: site.baseurl | prepend: site.url }}">
					<img class="support" alt="New America PIT" src="{{ "/img/newamerica_logo.png" | prepend: site.baseurl | prepend: site.url }}">
					<h2>Net Grant Calculator is a project of</h2>
					<img class="support" alt="The Mulligan Fund" src="{{ "/img/mulligan_logo.png" | prepend: site.baseurl | prepend: site.url }}">
				</div>
			</div>
		</div>
		{% include footer.html %}
		</body>

	</html>
