---
page: list
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="fullbg yellow">
      <div class="logo-block">
     <img class="logo" src="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
     </div>
     <div class="description">
      <div class="step">
          <h2>Fill in your Profile</h2>
          <div class="list" id="profile"></div>
        </div>
        <div class="step">
          <h2>Add your team</h2>
          <a class="button" href="./people">Edit your team</a>
          <div class="objlist"><ul></ul></div>
        </div>
        <div class="step">
          <h2>Apply for a grant</h2>
          <a class="button" href="./form" class="create">New Grant</a>
          <div class="list" id="seeker"></div>
        </div>
        <div class="step">
          <h2>Create a Grant</h2>
          <a class="button" href="./gmaker" class="create">New GrantMaker</a>
          <div class="list" id="maker"></div>
        </div>

      </div>

   </div>

  </body>

</html>
