---
page: list
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="fullbg yellow">
      <div class="logo-block">
       <img class="logo" src="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
       <small style="font-size: 14pt; display: inline-block;">Beta</small>
     </div>
     <div>
      <ul class="list-links"> 
          <li><a href="{{ "/list" | prepend: site.baseurl | prepend: site.url }}">Grants</a></li>
          <li><a href="{{ "/people" | prepend: site.baseurl | prepend: site.url }}">Team</a></li>
          <li><a href="{{ "/logout" | prepend: site.baseurl | prepend: site.url }}">Logout</a></li>
          <li><a class="button" href="http://bit.ly/gcalcfb" target="_blank">Leave Feedback!</a></li>
        </ul>
     </div>
     <div class="description">
      <div class="step" style="text-align: center">
        <a href="{{ "/img/Net.Grant.Calculator.User.Guide.pdf" | prepend: site.baseurl | prepend: site.url }}" target="_blank">
          <img style="width:100px; filter: drop-shadow(3px 4px 4px #444444);" src="{{ "/img/grant-link.png" | prepend: site.baseurl | prepend: site.url }}">
          <span style="display:block;margin-top: 20px;">Guide to Grant Calculator</span>
          </a>
          <div class="instructions">
           <p> This tool is essentially a process mapping tool that allows you to enter time devoted to specific grantseeking or grantmaking tasks, the team members involved in the process, and the salary for these team members. This information is then used to calculate the "Net Grant."</p>

            <p>The tool is divided into two areas:</p>
            <ol style="font-size: 10px; max-width: 80%; text-align: left;">
            <li><b>Apply for a Grant</b> - This section is to be filled out by Grantseekers. Grantseekers will be able to choose a template based on some basic information that will prefill grantseeking information. From there, they can adjust the hours, salary information, and team members to more closely match their internal processes.</li>
            <li><b>Create a Grant</b> - This section is to be filled out by Grantmakers. You will be able to use the tool to map your process, estimate the number of hours spent on internal tasks, update salary information, and add additional team members to customize the calculator.</li>
            <li>In addition, grantmakers will be able to choose a template based on some basic information that will pre-fill grantseeking information to help them better understand the typical time and resource commitments for small or large grants, new or renewal grants, and project or operating grants.</li>
            <li>Grantseekers and grantmakers should consider excluding from consideration any grants that don't fit the "usual" process (like board discretionary, employee matching grants, or sponsorships) and focus on grants where there is the most interaction between grantseekers/grantees, and grantmakers.</li>
            <li>A detailed User Guide (LINK TO USER GUIDE) is available to help you understand the scope of questions you will be asked.</li>
            </ol>
            </div>
          </div>
      </div>
      <div class="step">
          <h2>Fill in your Profile</h2>
          <div class="list" id="profile"></div>
        </div>
        <div class="step">
          <h2>Add your team</h2>
          <a class="button" href="./people">Edit your team</a>
          <div class="objlist"><ul></ul></div>
        </div>
        <div class="step" style="display: none">
          <h2>Grants</h2>
          <a class="button" href="./form" class="create">New Grant</a>
          <div class="list" id="seeker"></div>
        </div>
        <div class="step" style="display: none">
          <h2>Grant Programs</h2>
          <a class="button" href="./gmaker" class="create">New Program</a>
          <div class="list" id="maker"></div>
        </div>

      </div>

   </div>

  </body>

</html>
